<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>♥️ </text></svg>">
   <title>@ViewData["Title"] - Razor</title>
  <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/razor.styles.css" asp-append-version="true" />
</head>

<body>
  <header>
      <h1>
        Sport Store
      </h1>
  </header>
  <div>
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer>
    <p>
      &copy; made with ♥️  byAh... 
    </p>
  </footer>

  <!-- <script src="~/lib/jquery/dist/jquery.min.js"></script> -->
  <!-- <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
  <script src="~/js/site.js" asp-append-version="true"></script>

  <script src="_framework/blazor.server.js"></script>

  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
