@page
@model IndexModel
@{
  ViewData["Title"] = "Sport Store";
}

<div>

  <form method="post">

    <label for="title">
      Title
      <input
        asp-for="Book.Title"
        name="title"
        type="text"
      />
    </label>

    <label for="author">
      Author
      <input
        asp-for="Book.Author"
        name="author"
        type="text"
      />
    </label>

    <label for="publised">
      Publised
      <input
        asp-for="Book.PublisedDate"
        name="publised"
        type="date"
      />
    </label>

    <button>
      Submit
    </button>

  </form>

</div>
